body {
    padding: 20px;
    text-align: center;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

h1 {
    color: orange;
    font-family: 'Helvetica Neue';
}

h1::after {content: " 🎲🎲";}

h1::before {content: "🎲🎲 ";}

#dieRoll {
    color: maroon;
    /* display: flex;  */
}

p:nth-child(1) {
    display: none;
}

p:nth-child(2) {
    display: none
}

p:nth-child(3) {
    background-color: rosybrown;
    margin-left: 48%;
    text-align: left;
    width: 
}

p:nth-child(4) {
    background-color: rosybrown;
    margin-right: 48%;
    text-align: right;   
}

p:nth-child(5) {
    background-color: rosybrown;
    margin-left: 48%;
    text-align: left;
}

p:nth-child(6) {
    background-color: rosybrown;
    margin-right: 48%;
    text-align: right;  
}

p:nth-child(7) {
    background-color: rosybrown;
    margin-left: 48%;
    text-align: left;
}

p:nth-child(8) {
    background-color: rosybrown;
    margin-right: 48%;
    text-align: right;  
}

p:nth-child(9) {
    background-color: rosybrown;
    margin-left: 48%;
    text-align: left;
}

p:nth-child(10) {
    background-color: rosybrown;
    margin-right: 48%;
    text-align: right;  
}

p:nth-child(11) {
    background-color: rosybrown;
    margin-left: 48%;
    text-align: left;
}

p:nth-child(12) {
    background-color: rosybrown;
    margin-right: 48%;
    text-align: right;  
}

p:nth-child(13) {
    background-color: rosybrown;
    margin-left: 48%;
    text-align: left;
}

#barLength {
    background-color: blueviolet;
}